<div class="dashboard-container">

  <div class="left-panel">

    <div class="logo"></div>

  </div>

  <div class="right-panel">

    <div class="content">

      <h1>TRAINSHIER</h1>

      <p>
        Bienvenidos a TrainShier, tu caja registradora simulada <br>
        Favorita y especial.
      </p>

      <button routerLink="/login">
        Iniciar Sesión
      </button>

      <button
        class="register-btn"
        routerLink="/register"
      >
        Registrarse
      </button>

      <div
        class="observer"
        routerLink="/statistics"
      >
        👁 Observador
      </div>

    </div>

  </div>

</div>
