<div class="dashboard-container">

  <div class="dashboard-card">

    <img
      src="assets/img/BannerTrainShier2.jpeg"
      class="banner"
      alt="TrainShier"
    >

    <h1>TrainShier</h1>

    <p>
      Plataforma de simulación POS para el
      fortalecimiento de competencias laborales
      en ambientes de formación.
    </p>

    <div class="buttons">

      <button
        routerLink="/login"
        class="login-btn"
      >
        Iniciar sesión
      </button>

      <button
        routerLink="/register"
        class="register-btn"
      >
        Registrarse
      </button>

    </div>

    <button
      class="observer-btn"
      (click)="enterObserver()"
    >
      Entrar como observador
    </button>

  </div>

</div>
