<div class="dashboard-container">

  <div class="left-panel">

    <div class="logo"></div>

  </div>

  <div class="right-panel">

    <div class="content">

      <h1>TRAINSHIER</h1>

      <p>
        Welcome to TrainShier:
        your perfect cashier simulator.
      </p>

      <button routerLink="/login">
        Login
      </button>

      <button
        class="register-btn"
        routerLink="/register"
      >
        Register
      </button>

      <div
        class="observer"
        routerLink="/statistics"
      >
        👁 Observer
      </div>

    </div>

  </div>

</div>
