@import '../login/login.component.scss';

.success-message{
  background:#ecfdf5;
  color:#065f46;
  padding:12px;
  border-radius:10px;
  border:1px solid #6ee7b7;
  margin-bottom:20px;
}

.error-message{
  background:#fef2f2;
  color:#dc2626;
  padding:12px;
  border-radius:10px;
  border:1px solid #fecaca;
  margin-bottom:20px;
}

select{
  width:100%;
  padding:14px;
  border-radius:10px;
  border:2px solid #d1d5db;
  margin-bottom:20px;
}
