<div class="auth-container">

  <div class="auth-left">

    <div class="logo"></div>

    <h1>TrainShier</h1>

    <p>
      Create your cashier simulation account.
    </p>

  </div>

  <div class="auth-right">

    <div class="form-card">

      <h2>Register</h2>

      <form
        [formGroup]="form"
        (ngSubmit)="submit()"
      >

        <div class="input-group">

          <input
            type="text"
            placeholder="Username"
            formControlName="username"
            [class.invalid]="
              form.get('username')?.invalid &&
              form.get('username')?.touched
            "
          >

          <small
            *ngIf="
              form.get('username')?.hasError('pattern') &&
              form.get('username')?.touched
            "
          >
            Format example: Darwing#5462
          </small>

        </div>

        <div class="input-group">

          <input
            type="text"
            placeholder="Full Name"
            formControlName="name"
          >

        </div>

        <div class="input-group">

          <input
            type="email"
            placeholder="Email"
            formControlName="email"
          >

        </div>

        <div class="input-group">

          <input
            type="password"
            placeholder="Password"
            formControlName="password"
          >

          <small
            *ngIf="
              form.get('password')?.hasError('minlength') &&
              form.get('password')?.touched
            "
          >
            Minimum 8 characters
          </small>

          <small
            *ngIf="
              form.get('password')?.hasError('pattern') &&
              form.get('password')?.touched
            "
          >
            Must contain uppercase and special character
          </small>

        </div>

        <select formControlName="role">

          <option value="ADMIN">
            Admin
          </option>

          <option value="INSTRUCTOR">
            Instructor
          </option>

          <option value="APPRENTICE">
            Apprentice
          </option>

          <option value="OBSERVER">
            Observer
          </option>

        </select>

        <div
          class="error-message"
          *ngIf="errorMessage"
        >
          {{errorMessage}}
        </div>

        <div
          class="success-message"
          *ngIf="successMessage"
        >
          {{successMessage}}
        </div>

        <button type="submit">
          Register
        </button>

      </form>

    </div>

  </div>

</div>
