.form-box {
  margin-bottom: 20px;

  input, select {
    margin-right: 10px;
    padding: 6px;
  }

  button {
    background: #16a34a;
    color: white;
    border: none;
    padding: 6px 10px;
  }
}
