<nav class="navbar" *ngIf="showNavbar()">

  <div
    class="brand-banner"
    routerLink="/">
  </div>

  <div class="links">

    <a
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact:true }">
      Inicio
    </a>

    <a
      routerLink="/simulator"
      routerLinkActive="active-link">
      Simulador
    </a>

    <a
      routerLink="/transactions"
      routerLinkActive="active-link">
      Transacciones
    </a>

    <a
      routerLink="/reports"
      routerLinkActive="active-link">
      Reportes
    </a>

    <a
      routerLink="/comments"
      routerLinkActive="active-link">
      Instructor
    </a>

    <a
      routerLink="/statistics"
      routerLinkActive="active-link">
      Estadísticas
    </a>

    <a
      routerLink="/profile"
      routerLinkActive="active-link">
      Perfil
    </a>

  </div>

  <div class="right-actions">

    <button
      class="theme-btn"
      (click)="toggleTheme()">

      {{ darkMode ? '☀️' : '🌙' }}

    </button>

    <div
      class="profile"
      routerLink="/profile">
    </div>

    <button
      type="button"
      class="logout-btn"
      (click)="logout()">

      Cerrar sesión

    </button>

  </div>

</nav>

<router-outlet></router-outlet>
