body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f3f3f3;
}

.navbar {
  height: 72px;
  background: white;
  border-bottom: 2px solid black;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

.brand-banner {
  width: 190px;
  height: 55px;

  background-image: url("/BannerTrainShier2.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.links {
  display: flex;
  gap: 45px;
}

.links a {
  text-decoration: none;
  color: #5b5b5b;
  font-weight: 600;
}

.profile {
  width: 42px;
  height: 42px;
  border-radius: 50%;

  background-image: url("/profile.png");
  background-size: cover;
  background-position: center;
}

.container {
  padding: 30px;
}
