.transaction-table {

  background: #f7f2f2;

  padding: 40px;
}

h2 {

  text-align: center;

  margin-bottom: 30px;
}

table {

  width: 100%;

  border-collapse: collapse;

  background: #eadede;
}

th,
td {

  border: 2px solid #2b2b2b;

  padding: 18px;

  text-align: center;
}

th {

  background: #d5d5d5;
}

.status {

  width: 24px;
  height: 24px;

  border-radius: 50%;

  display: inline-block;
}

.success {

  background: #17c100;
}

.error {

  background: #d91e18;
}
@media (min-width:481px) and (max-width:768px){

  .transaction-table{
    overflow-x:auto;
    padding:20px;
  }

  table{
    min-width:650px;
  }

}

@media (max-width:480px){

  .transaction-table{
    overflow-x:auto;
    padding:10px;
  }

  table{
    min-width:650px;
  }

  th,
  td{
    padding:12px;
    font-size:13px;
  }

}
