.auth-box {
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    padding: 8px;
    border: 1px solid #ccc;
  }

  button {
    background: #22c55e;
    border: none;
    padding: 10px;
    color: white;
  }
}
