<h2>REGISTRO DE TRANSACCIONES</h2>

<table>
  <tr>
    <th>ID</th><th>Fecha</th><th>Tipo</th><th>Cliente</th><th>Producto</th><th>Cantidad</th><th>Total</th><th>Estado</th>
  </tr>

  <tr *ngFor="let d of datos">
    <td>{{d.id}}</td>
    <td>{{d.fecha}}</td>
    <td>{{d.tipo}}</td>
    <td>{{d.cliente}}</td>
    <td>{{d.producto}}</td>
    <td>{{d.cantidad}}</td>
    <td>{{d.total}}</td>
    <td>
      <span class="ok" *ngIf="d.estado=='ok'"></span>
      <span class="bad" *ngIf="d.estado=='bad'"></span>
    </td>
  </tr>
</table>
