<nav class="navbar">

  <div class="banner"></div>

  <div class="links">

    <a routerLink="/transactions">
      Transaciones
    </a>

    <a routerLink="/reports">
      Reportes
    </a>

    <a routerLink="/statistics">
      Estadisticas
    </a>

    <a routerLink="/comments">
      Comentarios
    </a>

  </div>

</nav>

<div class="home-content">

  <h1>Bienvenidos a TrainShier</h1>

  <p>
   Caja Registradora simulada para la práctica y calidad de buen entrenamiento <br>
    Hechale un vistazo
  </p>

</div>
