body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#f4f4f4;
  transition:0.4s;
}

.dark-theme{
  background:#111827;
  color:white;
}

.dark-theme .card,
.dark-theme .form-card,
.dark-theme .cashier-box,
.dark-theme .client-card,
.dark-theme .profile-card,
.dark-theme .statistics-card{
  background:#1f2937 !important;
    color:white !important;
  }

  .theme-button{
    position:fixed;
    top:15px;
    right:15px;
    background:#111827;
    color:white;
    padding:12px 18px;
    border-radius:12px;
    cursor:pointer;
    z-index:9999;
    transition:0.3s;
  }

  .theme-button:hover{
    transform:scale(1.05);
  }

@media (min-width:1280px){

}
@media (max-width:1279px){

}
@media (min-width:769px) and (max-width:1024px){

}
@media (min-width:481px) and (max-width:768px){

}
@media (max-width:480px){

}
