*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body{
  font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
  background:#f4f4f4;
  color:#111827;
  transition:.3s;
  overflow-x:hidden;
}

body.dark-mode{
  background:#0f172a;
  color:#f9fafb;
}

body.dark-mode .navbar,
body.dark-mode .form-card,
body.dark-mode .profile-card,
body.dark-mode .cashier-box,
body.dark-mode .client-card,
body.dark-mode .stat-card,
body.dark-mode .feature-card,
body.dark-mode .comment-card,
body.dark-mode .products,
body.dark-mode .transaction-table table{
  background:#1e293b !important;
  color:white !important;
}

body.dark-mode input,
body.dark-mode textarea,
body.dark-mode select{
  background:#334155;
  color:white;
  border-color:#475569;
}

body.dark-mode p,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode label,
body.dark-mode span,
body.dark-mode td,
body.dark-mode th{
  color:white !important;
}
